<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BookStore"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.BookStore">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApfnG8yX_JdqmnkUV4ycnxBxJV-2auQZY" />

        <activity android:name=".activity.MapAddressActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.BookDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />

        <activity
            android:name=".activity.CheckoutActivity"
            android:exported="false" />

        <activity
            android:name=".activity.OrdersActivity"
            android:exported="false" />

        <activity
            android:name=".activity.OrderDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ManageBooksActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AddEditBookActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.ManageOrdersActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InventoryActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.VerifyOtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.ResetPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.AllBooksActivity"
            android:exported="false" />

        <activity android:name=".activity.PaymentWebViewActivity"
            android:exported="false" />

    </application>
</manifest>